
.rowsss {
    // box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    // justify-content: flex-start | flex-end | center | space-between | space-around | space-evenly;
    align-items: stretch;
    // align-items: stretch | flex-start | flex-end | center | baseline;
    // flex-direction: row;
    // -webkit-box-orient: horizontal;
    // -webkit-box-direction: normal;
    // justify-content: space-between;
    // align-items: center;
    // align-content: center;
    // -webkit-box-align: center;
}