<mat-card style="position:relative;">
  <mat-card-header align="center">
    <!-- <mat-card-title>{{description | async}}</mat-card-title> -->
    <mat-card-subtitle>{{description | async}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <span #entry></span>
  </mat-card-content>
  <mat-card-actions *ngIf="editMode">
    <button mat-button (click)="localSave()">SAVE</button>
    <button mat-button>CANCEL</button>
  </mat-card-actions>
</mat-card>

<ng-template #listViewTmpl>
  <div align="center" *ngIf="attrViewValue | async">
    <h2>{{attrViewValue | async}}</h2>
  </div>
  <div style="display:block; position: absolute; top:-10px; right:-10px;" *ngIf="canEdit">
    <button mat-fab color="accent" (click)="assessAttr()">
      <mat-icon>create</mat-icon>
    </button>
  </div>

</ng-template>

<ng-template #editViewTmpl>
  <div align="center" *ngIf="attrViewValue | async">
    <h2>{{attrViewValue | async}}</h2>
  </div>


  <button style="display:block; position: absolute; top:-10px; right:-10px;" mat-fab color="accent" (click)="presentActionSheet()">
    <mat-icon>assignment</mat-icon>
  </button>


</ng-template>