$padding-top-bar : 64px;

$font-family: 'Roboto', sans-serif;

$toolbar-height: 64px; 
$horizontal-menu-height: $toolbar-height;

$sidenav-width: 250px;
$sidenav-user-block-height: 156px;
$mini-sidenav-user-block-height: 70px;

$flex-distance: 8px;
$inner-sidenav-content-padding: $flex-distance;

//Login, Register, Errors box
$box-height: 186px;
$box-position: 34px;
$register-box-height: 300px;


.main-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    mat-toolbar {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;
        width: 100%  !important;
    }

    mat-drawer-container {
        padding-top: $padding-top-bar;
        min-height: calc(100% - (#{$toolbar-height} + #{$horizontal-menu-height} + #{$inner-sidenav-content-padding}*2)); 
        width:100%;

        mat-drawer{
            padding-top: $padding-top-bar + 25;
            min-width: 200px;
    
            h1 {
                text-align: center;
                font-size: 20px;
            }
    
            .mat-button {
                display: block;
                width: 100%;
                text-align: left;
            }
        }
    
        mat-drawer-content{
            overflow: auto;
            position: top;
            bottom:0;
            left:0;
            right:0;
            padding: 20px;
            
        }
    }
    

}
